<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="genericAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy/MM/dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-}] %level %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="genericAppender" />
    </root>

</configuration>