<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="genericAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "applicationName": "${springAppName:-}",
                        "traceId": "%X{X-B3-TraceId:-}",
                        "type": "TRACE",
                        "message": "%msg"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="genericAppender" />
    </root>

</configuration>